<div class="neu-tag-container" [class.error]="showError">
  <!-- Tags selecionadas -->
  <div class="neu-tags-wrapper">
    <div 
      *ngFor="let tag of tagsSelecteds; let i = index"
      class="neu-tag"
      [style.background]="tag.color"
      (mouseenter)="tag.isHovered = true"
      (mouseleave)="tag.isHovered = false">
      
      <span class="tag-text">{{ tag.name }}</span>
      
      <button 
        *ngIf="tag.isHovered"
        class="neu-remove-btn"
        (click)="removeTag(i)"
        type="button">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M18 6L6 18M6 6l12 12"/>
        </svg>
      </button>
    </div>

    <!-- Input field -->
    <input 
      #tagInput
      class="neu-tag-input"
      [formControl]="inputControl" 
      (keydown.enter)="onEnter($event)" 
      (keydown)="onKeydown($event)"
      (blur)="onBlur()"
      (focus)="onInputFocus()"
      [placeholder]="'INPUTS-FIELS.SELECT_PLACEHOLDER' | translate" />
  </div>

  <!-- Sugestões de tags -->
  <ng-container *ngIf="suggestedTags$ | async as suggestedTags">
    <div 
      #suggestionsList
      class="neu-suggestions" 
      *ngIf="showSuggestions && suggestedTags.length > 0">
      <div 
        *ngFor="let tag of suggestedTags"
        class="neu-suggestion-item"
        (click)="selectTag(tag)">
        {{ tag }}
      </div>
    </div>
  </ng-container>

  <!-- Mensagens -->
  <div class="neu-messages">
    <div *ngIf="successMessage" class="neu-success-message">
      {{ successMessage }}
    </div>
    
    <ng-container *ngIf="suggestedTags$ | async as suggestedTags">
      <div *ngIf="showNoTagMessage && suggestedTags.length === 0 && showSuggestions" class="neu-warning-message">
        {{ 'tags.noTagMessage' | translate }}
      </div>
    </ng-container>

    <div *ngIf="showError" class="neu-error-message">
      <ng-container *ngIf="control.errors?.['required']">
        {{ 'VALIDATOR-ERROR-MESSAGES.REQUIRED' | translate }}
      </ng-container>
    </div>
  </div>

  <!-- Instrução do atalho -->
  <div class="neu-shortcut-hint">
    <span class="hint-text">Ctrl + Space para ver todas as tags</span>
  </div>
</div>